**/*.ts
**/*.map
**/*.txt
**/tsconfig.json
**/yarn.lock
**/*.config.js
**/plugin
**/tests
**/*.log
**/.github
**/node_modules
**/.vscode-test
!**/node_modules/ts-react-hooks-tools/dist
!**/node_modules/ts-react-hooks-tools/package.json